$color-primary: #3772FF;
$color-secondary: #2ACCF6;
$color-tertiary: #2481D4;
$color-text: #ffffff;
$color-quinary: #ACEBF2;
$color-hover: #0E1D40;

$font-montserrat: 'Montserrat';

$font-sm: 20px;
$font-md: 40px;
$font-lg: 60px;

@mixin ul 
{
    list-style-type: none;
    text-align: center;
    font-size: $font-md;
}

@mixin li($width,$margin)
{
    background-color: $color-primary;
    height: 10%;
    width: $width;   
    margin: $margin;
    float: left; 
    color: $color-text;
}

@mixin a 
{
    display: block;
    text-decoration: none;
    color: $color-text;
    width: 100%;
    height: 100%;
}